section {
  background-color: purple;
  margin: 00px;
  padding: 30px;
}
article {
  background-color: red;
  margin: 0;
  padding: 30px;
}
ul li {
  text-align: center;
  padding: 10px;
  border: 1px solid;
  margin: 10px;
}
#flex {
  display: flex;
  flex-wrap: wrap;
}
